$verizon-red: #cd040b;
$verizon-font-bold: NeueHaasGroteskDisplayBold, Arial, Helvetica, sans-serif;
$verizon-font-display: NeueHaasGroteskDisplay, Arial, Helvetica, sans-serif;
$verizon-font-text: NeueHaasGroteskText, Arial, Helvetica, sans-serif;