.confirmation_circle {
    width: 60px;
    border-radius: 60px;
    height: 60px;
    color: #fff;
    line-height: 60px;
}

.confirmation_print {
    font-family: NeueHaasGroteskDisplay;
}

.color .color-box {
    width: 16px;
    height: 16px;
}

.activationFees {
    font-weight: 400;
    float: left;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.m-cpcPlanArrow .arrowCTA:after{
    font-family: 'vzwIcons';
    top:5px;
    content: "\E607";
}
.expanded .m-cpcPlanArrow .arrowCTA:after{
    font-family: 'vzwIcons';
    content: "\E608";
    top:0;
}

.minHeigth120{
    min-height: 120px,
}
