.mSelectWrapper {
  position: relative;
}

.mSelectWrapper .dropdownChevron:before {
  font-family: "vzwIcons";
  content: "\E607";
  bottom: 19px;
  right: 10px;
  position: absolute;
  font-size: 10px;
  speak:none;
}

.mSelectWrapper select[disabled]+.dropdownChevron+div hr {
	border-style: none none solid !important;
	border-color: rgba(0, 0, 0, 0.3) !important;
}

.mSelect {
  width: 100%;
  font-size: 16px;
  width: 100%;
  display: block;
  position: relative;
  background-color: transparent;
  line-height: 24px;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: auto;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #000;
  padding-left: 6px;
  padding-right: 30px;
  margin-right: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
}

.mSelect::-ms-expand {
    display: none;
}

.mSelectWrapper.borderStyle:before {
  top: calc(50% + 5px);
  right: 12px;
  speak: none;
}

.mSelectWrapper.borderStyle>.mSelect {
  border: 1px solid #ccc;
  border-bottom: none;  
  height: 50px;
  margin-top: 6px;
  padding-left: 6px;
  padding-top: 0;
  position: relative;
  z-index: 2;
  outline: none;
}
.mSelectWrapper select + div > label{
  display: none;
  visibility: hidden;
}
.mSelectWrapper select + div > input{
  display: none;
  visibility: hidden;
}
.mSelectWrapper > label {
    margin-top: -25px;
}
@media reader, speech, aural {
    .mSelectWrapper:before {
        display: none;
        visibility: hidden;
    }
}

