/***********************************
	How to implement:z
		<input type="radio" id="deviceCapacity_1" class="radioCustom" name="capacitySelection" value="128GB" role="radiogroup">
		<label for="deviceCapacity_1" class="radioCustom_label" id="a11y-1805">
		  <span class="fontSize_5" id="a11y-1804">128GB</span>
		</label>
***********************************/

.radioCustom, .radioBtn {
  opacity: 0;
  position: absolute;
}

.radioCustom, .radioCustom_label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.radioCustom.m-horizonCenter, .radioCustom_label.m-horizonCenter {
  display: flex;
  justify-content: space-around;
  flex-direction:row;
  align-items: center;
}

.radioCustom:checked + .radioCustom_label:before,
.radioCustom:checked + input[type=hidden] + .radioCustom_label:before,
.radioBtn:checked + label:before,
.radioBtn:checked + input[type=hidden] + .label:before {
  background: #040404;
  border: 2px solid;
  box-shadow: inset 0 0 0 3px #ffffff;
}

.radioCustom_label:before,
.radioBtn+label:before {
  content: '';
  background: #fff;
  border: 2px solid #D8DADA;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.radioCustom_label.m-horizonCenter:before,
.radioBtn+label.m-horizonCenter:before {
  flex-basis: 34px;
}
.radioCustom_label.radioLeft:before{
  float:left;
}
.radioCustom_label.m-priceLabel:before {
  display: inline-block;
}

.radioCustom_label > span {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 6px;
  display: block;
  color: #333333;
}

.priceLabel {
  width: 85%;
  float: right;
  margin-right: 24px;
}
